<div class="row">
  <div class="col-sm-12 col-md-12">
    <label>Edit Customer Details</label>
    <hr class="underliner" />
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="form-group">
      <label for="edit-name">Customer Name</label>
      <input type="hidden" id="edit-customer-id" name="edit-customer-id" value="{{customer.id}}">
      <input type="text" id="edit-name" name="edit-name" value="{{customer.name}}" class='w-100'>
    </div>
    <div class="form-group">
      <label for="edit-email">Email</label>
      <input type="text" id="edit-email" name="edit-email" value="{{customer.email}}" class='w-100'>
    </div>
    <div class="form-group">
      <label for="edit-phone-number">Telephone 1</label>
      <input type="text" id="edit-phone-number" name="edit-phone-number" value="{{customer.phone_number}}" class='w-100'>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="form-group">
      <label for="edit-phone-number-2">Telephone 2</label>
      <input type="text" id="edit-phone-number-2" name="edit-phone-number-2" value="{{customer.phone_number_2}}"
        class='w-100'>
    </div>
    <div class="form-group">
      <label for="edit-address">Address</label>
      <select id="edit-address" name="edit-address" class="edit-address w-100">
        <option value="">Select</option>
        {% for location in locations %}
        {% if location.id == customer.address.id %}
        <option selected="selected" value="{{location.id}}">{{location.address}}</option>
        {% else %}
        <option value="{{location.id}}">{{location.address}}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
</div>