<div class="row mb-2">
  <div class="col-sm-6">
    <h4 class="m-0">Stock List</h4>
  </div>
  <div class="col-sm-6">
    <button id="new-stock-modal-btn" onclick="openNewStockModal()" type="button"
      class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#new-stock-modal">
      New Stock
    </button>
    <button id="downloadExcel" type="button" class="btn btn-sm btn-secondary float-right mr-2 ml-2">
      Download Template
    </button>
    <button id="bulk-upload-modal-btn" onclick="openUploadModal()" type="button"
      class="btn btn-sm btn-success float-right" data-toggle="modal" data-target="#bulk-upload-dialog">
      Bulk Upload
    </button>
  </div>
</div>
<div class="row mb-2">
  <div class="col-sm-12 col-md-4">
    <div class="form-group">
      <label for="selected-supplier">Supplier</label>
      <select id="selected-supplier" onchange="filterReport()" class="w-100">
        <option value="">Select</option>
        {% for supplier in suppliers %}
        {% if supplier.id == selected_supplier %}
        <option selected="selected" value="{{supplier.id}}">{{supplier.name}}</option>
        {% else %}
        <option value="{{supplier.id}}">{{supplier.name}}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="form-group">
      <label for="start-date">Start Date</label>
      <input type="text" id="filter-start-date" class="form-control" value="{{filter_start_date|date:" d-m-Y"}}"
        onchange="filterReport()" placeholder="Start Date">
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="form-group">
      <label for="end-date">End Date</label>
      <input type="text" id="filter-end-date" class="form-control" value="{{filter_end_date|date:" d-m-Y"}}"
        onchange="filterReport()" placeholder="End Date">
    </div>
  </div>
</div>
<div class="modal fade" id="new-stock-modal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Stock</h5>
        <button type="button" onclick="resetNewStockModal()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label for="quantity">Quantity</label>
              <input type="number" id="quantity" name="quantity" class='w-100'>
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input type="text" id="price" name="price" class='w-100'>
            </div>
            <div class="form-group">
              <label for="total">Total</label>
              <input disabled="disabled" type="text" id="total" name="total" class='w-100'>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label for="amount_paid">Amount Paid</label>
              <input type="text" id="amount_paid" name="amount_paid" class='w-100'>
            </div>
            <div class="form-group">
              <label for="record_date">Record Date</label>
              <input type="text" id="record_date" name="record_date" class='w-100'>
            </div>
            <div class="form-group">
              <label for="supplier">Supplier</label>
              <select id="supplier" name="supplier" class="supplier w-100">
                <option value="">Select</option>
                {% for supplier in suppliers %}
                <option value="{{supplier.id}}">{{supplier.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary float-right" onclick="saveStock()">Save stock
          Details</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="edit-stock-dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Stock</h5>
        <button type="button" class="close" onclick="resetEditStockModal()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary float-right" onclick="updateStock()">Update stock</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="bulk-upload-dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bulk Upload</h5>
        <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Upload Excel File</h5>
        <input type="file" id="uploadExcel" accept=".xlsx, .xls">
        <br />
        <table id="jsonTable" class="table table-bordered table-hover"></table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary float-right" 
        onclick="processUpload()">Process Upload</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div class="row">
  <div class="col-12 col-sm-12">
    <div class="card card-primary card-outline">
      <div class="card-header p-0 border-bottom-0">

      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-sm-12">
            <table id="stock-lists" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Supplier</th>
                  <th>Address</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Expense/Supply</th>
                  <th>Amount Paid</th>
                  <th>Bal Remaining</th>
                  <th>Stock Bal(Kgs)</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% load humanize %}
                {% for stock in stock_list %}
                <tr>
                  <td>{{ forloop.counter}}</td>
                  <td>{{ stock.supplier.name}}</td>
                  <td>{{ stock.supplier.address.address}}</td>
                  <td>{{ stock.quantity}}</td>
                  <td>{{ stock.price |intcomma }}</td>
                  <td>{{ stock.expense_at |intcomma }}</td>
                  <td>{{ stock.payment_at |intcomma }}</td>
                  <td>{{ stock.balance |intcomma }}</td>
                  <td>{{ stock.balance_qty |intcomma }}</td>
                  <td> {{ stock.record_date|date:"d-m-Y" }}</td>
                  <td style="text-align: center; max-width: 25px;">
                    <div class="btn-group" style="align-content: center;">
                      <button type="button" onclick="openEditStockModal('{{stock.id}}')"
                        class="btn btn-xs btn-primary">Edit stock</button>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <!-- /.card -->
    </div>
  </div>
</div>
<script>
  var xlsArrayData = []
  $(function () {
    $('#stock-lists').DataTable({
     "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["csv", "excel","print"]
    }).buttons().container().appendTo('#stock-lists_wrapper .col-md-6:eq(0)');


    //Date picker
    $('#record_date').datepicker({
      maxDate: new Date(),
      dateFormat: "dd-mm-yy"
    });
    $('#filter-start-date').datepicker({
      dateFormat: "dd-mm-yy"
    });

    $('#filter-end-date').datepicker({
      dateFormat: "dd-mm-yy"
    });

    $('#quantity, #price').on('keyup', function () {
      const quantity = $('#quantity').val();
      const price = $('#price').val();
      if (quantity.length > 0 && price.length > 0) {
        $('#total').val(Number(quantity) * Number(price))
      } else {
        $('#total').val(0)
      }
    });

    $('#downloadExcel').on('click', function () {
      $.ajax({
        url: '/purchases/bulk-stocking/',
        type: 'GET',
        data: { "template":"stock"},
        success: function (responseData) {
          const worksheet = XLSX.utils.aoa_to_sheet(responseData.Json_data);
          // Create a new workbook and append the worksheet
          const workbook = XLSX.utils.book_new();
          XLSX.utils.book_append_sheet(workbook, worksheet, "Sheet1");
          // Generate Excel file and trigger download
          XLSX.writeFile(workbook, "Stock Purchase Template.xlsx");
        },
        error: function (xhr, status, error) {
          alert('Error loading data: ' + error);
        }
      });
    });

    document.getElementById('uploadExcel').addEventListener('change', function (event) {
      const file = event.target.files[0]; // Get the selected file
      if (file) {
        const reader = new FileReader();

        reader.onload = function (e) {
          const data = new Uint8Array(e.target.result); // Read file content as binary
          const workbook = XLSX.read(data, { type: 'array' }); // Parse the Excel file

          // Convert the first sheet to JSON (array of arrays)
          const firstSheetName = workbook.SheetNames[0];
          const worksheet = workbook.Sheets[firstSheetName];
          xlsArrayData = XLSX.utils.sheet_to_json(worksheet, { header: 1 });
          xlsArrayData = arrayToJSON(xlsArrayData);

          // Format date fields
          xlsArrayData = xlsArrayData.map(row => {
            if (row["Record Date"]) {
              const serializedDate = row["Record Date"];
              const formattedDate = XLSX.SSF.format("yyyy-mm-dd", serializedDate);
              row["Record Date"] = formattedDate; // Replace with formatted date
            }
            return row;
          });
          generateTable(xlsArrayData);
        };

        reader.readAsArrayBuffer(file); // Read the file
      } else {
        alert('Please select a valid Excel file.');
      }
    });

  });

  // Convert array to JSON
  function arrayToJSON(array) {
    const keys = array[0]; // Extract the first row as keys
    const result = array.slice(1).map(row => {
      const obj = {};
      row.forEach((value, index) => {
        obj[keys[index]] = value; // Map keys to values
      });
      return obj;
    });
    return result;
  }

  // Function to generate HTML table
  function generateTable(data) {
    const table = document.getElementById('jsonTable');
    $(table).html('');
    // Create table header
    const thead = document.createElement('thead');
    const headerRow = document.createElement('tr');
    const keys = Object.keys(data[0]);
    keys.forEach(key => {
      const th = document.createElement('th');
      th.textContent = key;
      headerRow.appendChild(th);
    });
    thead.appendChild(headerRow);
    table.appendChild(thead);

    // Create table body
    const tbody = document.createElement('tbody');
    data.forEach(item => {
      const row = document.createElement('tr');
      keys.forEach(key => {
        const td = document.createElement('td');
        td.textContent = item[key];
        row.appendChild(td);
      });
      tbody.appendChild(row);
    });
    table.appendChild(tbody);
    if (!$.fn.DataTable.isDataTable(table)) {
      $(table).DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true
      });
    }

  }

  function filterReport() {
    $.ajax({
      url: '/purchases/stock-list/',
      type: 'GET',
      data: { "selected_supplier": $('#selected-supplier').val().trim(), "filter_start_date": $('#filter-start-date').val().trim(), 'filter_end_date': $('#filter-end-date').val().trim() },
      success: function (data) {
        $('.main-panel').html(data.html);
      },
      error: function (xhr, status, error) {
        alert('Error loading data: ' + error);
      }
    });
  }

  function validateStock() {
    var isValid = true;
    $(".field-error").remove();

    if ($("#quantity").val().length < 1) {
      errorMarker($("#quantity"));
      isValid = false;
    }

    if ($("#price").val().length < 1) {
      errorMarker($("#price"));
      isValid = false;
    }

    if ($("#supplier").val().length < 1) {
      errorMarker($("#supplier"));
      isValid = false;
    }

    if ($("#record_date").val().length < 1) {
      errorMarker($("#record_date"));
      isValid = false;
    }

    return isValid;
  }

  function validateEditStock() {
    var isValid = true;
    $(".field-error").remove();

    if ($("#edit-quantity").val().length < 1) {
      errorMarker($("#edit-quantity"));
      isValid = false;
    }

    if ($("#edit-price").val().length < 1) {
      errorMarker($("#edit-price"));
      isValid = false;
    }

    if ($("#edit-supplier").val().length < 1) {
      errorMarker($("#edit-supplier"));
      isValid = false;
    }

    if ($("#edit-record_date").val().length < 1) {
      errorMarker($("#edit-record_date"));
      isValid = false;
    }
    return isValid;
  }

  function saveStock() {
    if (validateStock()) {
      $.ajax({
        url: '/purchases/save-stock/',
        type: 'POST',
        data: {
          "quantity": $("#quantity").val(),
          "price": $("#price").val(),
          "amount_paid": Number($("#amount_paid").val()) > 0 ? Number($("#amount_paid").val()) : 0,
          "supplier": $("#supplier").val(),
          "record_date": $("#record_date").val().trim(),
          'action': 'save'
        },
        success: function (data) {
          $("#new-stock-modal-btn").click();
          setTimeout(() => {
            loadData('/purchases/stock-list/', 'GET', '');
          }, 500);
        },
        error: function (xhr, status, error) {
          alert('Error loading data: ' + error);
        }
      });
    }
  }

  function openNewStockModal() {
    $('.field-error').remove();
    resetNewStockModal();
  }

  function openUploadModal() {
    $('#uploadExcel').val('');
    $('#jsonTable').html('');
    xlsArrayData = [];
  }

  function resetNewStockModal() {
    $(".field-error").remove();
    $("#quantity").val("");
    $("#price").val("");
    $("#supplier").val("");
    $("#record_date").val("")
  }

  function openEditStockModal(id) {
    $('.field-error').remove();
    $('.stock-panel').html('');
    $('#edit-stock-dialog').modal('show');
    $.ajax({
      url: '/purchases/new-stock/',
      type: 'GET',
      data: { "action": 'edit', 'id': id },
      success: function (data) {
        $('#edit-stock-dialog').find('.modal-body').html(data.html);
      },
      error: function (xhr, status, error) {
        alert('Error loading data: ' + error);
      }
    });
  }

  function resetEditStockModal() {
    $(".field-error").remove();
    $('#edit-stock-dialog').find('.modal-body').html('');
  }


  function updateStock() {
    if (validateEditStock()) {
      $.ajax({
        url: '/purchases/save-stock/',
        type: 'POST',
        data: {
          "id": $("#edit-stock-id").val(),
          "quantity": $("#edit-quantity").val(),
          "price": $("#edit-price").val(),
          "supplier": $("#edit-supplier").val(),
          "record_date": $("#edit-record_date").val().trim(),
          'action': 'edit'
        },
        success: function (data) {
          $('#edit-stock-dialog').modal('hide');
          setTimeout(() => {
            loadData('/purchases/stock-list/', 'GET', '');
          }, 500);
        },
        error: function (xhr, status, error) {
          alert('Error loading data: ' + error);
        }
      });
    }
  }


  function processUpload() {
    $.ajax({
      url: '/purchases/bulk-stocking/',
      type: 'POST',
      data: {'stock_purchases':JSON.stringify(xlsArrayData)},
      success: function (data) {
        $("#bulk-upload-modal-btn").click();
        setTimeout(() => {
          filterReport();
        }, 500);
      },
      error: function (xhr, status, error) {
        alert('Error loading data: ' + error);
      }
    });
  }

</script>