<div class="row mb-2">
  <div class="col-sm-6">
    <h4 class="m-0">Stock List</h4>
  </div>
  <div class="col-sm-6">
    <button id="new-stock-modal-btn" onclick="openNewStockModal()" type="button"
      class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#new-stock-modal">
      New Stock
    </button>
  </div>
</div>
<div class="row mb-2">
  <div class="col-sm-12 col-md-4">
    <div class="form-group">
      <label for="selected-supplier">Supplier</label>
      <select id="selected-supplier" onchange="filterReport()" class="w-100">
        <option value="">Select</option>
        {% for supplier in suppliers %}
        {% if supplier.id == selected_supplier %}
        <option selected="selected" value="{{supplier.id}}">{{supplier.name}}</option>
        {% else %}
        <option value="{{supplier.id}}">{{supplier.name}}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="form-group">
      <label for="start-date">Start Date</label>
      <input type="text" id="filter-start-date" class="form-control" value="{{filter_start_date|date:" d-m-Y"}}"
        onchange="filterReport()" placeholder="Start Date">
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="form-group">
      <label for="end-date">End Date</label>
      <input type="text" id="filter-end-date" class="form-control" value="{{filter_end_date|date:" d-m-Y"}}"
        onchange="filterReport()" placeholder="End Date">
    </div>
  </div>
</div>
<div class="modal fade" id="new-stock-modal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Stock</h5>
        <button type="button" onclick="resetNewStockModal()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label for="quantity">Quantity</label>
              <input type="number" id="quantity" name="quantity" class='w-100'>
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input type="text" id="price" name="price" class='w-100'>
            </div>
            <div class="form-group">
              <label for="total">Total</label>
              <input disabled="disabled" type="text" id="total" name="total" class='w-100'>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label for="record_date">Record Date</label>
              <input type="text" id="record_date" name="record_date" class='w-100'>
            </div>
            <div class="form-group">
              <label for="supplier">Supplier</label>
              <select id="supplier" name="supplier" class="supplier w-100">
                <option value="">Select</option>
                {% for supplier in suppliers %}
                <option value="{{supplier.id}}">{{supplier.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary float-right" onclick="saveStock()">Save stock
          Details</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="edit-stock-dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Stock</h5>
        <button type="button" class="close" onclick="resetEditStockModal()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary float-right" onclick="updateStock()">Update stock</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div class="row">
  <div class="col-12 col-sm-12">
    <div class="card card-primary card-outline">
      <div class="card-header p-0 border-bottom-0">

      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-sm-12">
            <table id="stock-lists" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Supplier</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Expense/Supply</th>
                  <th>Amount Paid</th>
                  <th>Balance</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% load humanize %}
                {% for stock in stock_list %}
                <tr>
                  <td>{{ forloop.counter}}</td>
                  <td>{{ stock.supplier.name}}</td>
                  <td>{{ stock.quantity}}</td>
                  <td>{{ stock.price |intcomma }}</td>
                  <td>{{ stock.expense_at |intcomma }}</td>
                  <td>{{ stock.payment_at |intcomma }}</td>
                  <td>{{ stock.balance |intcomma }}</td>
                  <td> {{ stock.record_date|date:"d-m-Y" }}</td>
                  <td style="text-align: center; max-width: 25px;">
                    <div class="btn-group" style="align-content: center;">
                      <button type="button" onclick="openEditStockModal('{{stock.id}}')"
                        class="btn btn-xs btn-primary">Edit stock</button>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <!-- /.card -->
    </div>
  </div>
</div>
<script>
  $(function () {
    $('#stock-lists').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
      "buttons": ["csv", "excel", "print"]
    }).buttons().container().appendTo('#stock-lists_wrapper .col-md-6:eq(0)');
    //Date picker
    $('#record_date').datepicker({
      maxDate: new Date(),
      dateFormat: "dd-mm-yy"
    });
    $('#filter-start-date').datepicker({
      dateFormat: "dd-mm-yy"
    });

    $('#filter-end-date').datepicker({
      dateFormat: "dd-mm-yy"
    });

  });

  function filterReport() {
    $.ajax({
      url: '/purchases/stock-list/',
      type: 'GET',
      data: { "selected_supplier": $('#selected-supplier').val().trim(), "filter_start_date": $('#filter-start-date').val().trim(), 'filter_end_date': $('#filter-end-date').val().trim() },
      success: function (data) {
        $('.main-panel').html(data.html);
      },
      error: function (xhr, status, error) {
        alert('Error loading data: ' + error);
      }
    });
  }

  function validateStock() {
    var isValid = true;
    $(".field-error").remove();

    if ($("#quantity").val().length < 1) {
      errorMarker($("#quantity"));
      isValid = false;
    }

    if ($("#price").val().length < 1) {
      errorMarker($("#price"));
      isValid = false;
    }

    if ($("#supplier").val().length < 1) {
      errorMarker($("#supplier"));
      isValid = false;
    }

    if ($("#record_date").val().length < 1) {
      errorMarker($("#record_date"));
      isValid = false;
    }

    return isValid;
  }

  function validateEditStock() {
    var isValid = true;
    $(".field-error").remove();

    if ($("#edit-quantity").val().length < 1) {
      errorMarker($("#edit-quantity"));
      isValid = false;
    }

    if ($("#edit-price").val().length < 1) {
      errorMarker($("#edit-price"));
      isValid = false;
    }

    if ($("#edit-supplier").val().length < 1) {
      errorMarker($("#edit-supplier"));
      isValid = false;
    }

    if ($("#edit-record_date").val().length < 1) {
      errorMarker($("#edit-record_date"));
      isValid = false;
    }
    return isValid;
  }

  function saveStock() {
    if (validateStock()) {
      $.ajax({
        url: '/purchases/save-stock/',
        type: 'POST',
        data: {
          "quantity": $("#quantity").val(),
          "price": $("#price").val(),
          "supplier": $("#supplier").val(),
          "record_date": $("#record_date").val().trim(),
          'action': 'save'
        },
        success: function (data) {
          $("#new-stock-modal-btn").click();
          setTimeout(() => {
            loadData('/purchases/stock-list/', 'GET', '');
          }, 500);
        },
        error: function (xhr, status, error) {
          alert('Error loading data: ' + error);
        }
      });
    }
  }

  function openNewStockModal() {
    $('.field-error').remove();
    resetNewStockModal();
  }

  function resetNewStockModal() {
    $(".field-error").remove();
    $("#quantity").val("");
    $("#price").val("");
    $("#supplier").val("");
    $("#record_date").val("")
  }

  function openEditStockModal(id) {
    $('.field-error').remove();
    $('.stock-panel').html('');
    $('#edit-stock-dialog').modal('show');
    $.ajax({
      url: '/purchases/new-stock/',
      type: 'GET',
      data: { "action": 'edit', 'id': id },
      success: function (data) {
        $('#edit-stock-dialog').find('.modal-body').html(data.html);
      },
      error: function (xhr, status, error) {
        alert('Error loading data: ' + error);
      }
    });
  }

  function resetEditStockModal() {
    $(".field-error").remove();
    $('#edit-stock-dialog').find('.modal-body').html('');
  }

  function updateStock() {
    if (validateEditStock()) {
      $.ajax({
        url: '/purchases/save-stock/',
        type: 'POST',
        data: {
          "id": $("#edit-stock-id").val(),
          "quantity": $("#edit-quantity").val(),
          "price": $("#edit-price").val(),
          "supplier": $("#edit-supplier").val(),
          "record_date": $("#edit-record_date").val().trim(),
          'action': 'edit'
        },
        success: function (data) {
          $('#edit-stock-dialog').modal('hide');
          setTimeout(() => {
            loadData('/purchases/stock-list/', 'GET', '');
          }, 500);
        },
        error: function (xhr, status, error) {
          alert('Error loading data: ' + error);
        }
      });
    }
  }

</script>